#name, #email, #user_contact, #contact, #major_name {
	width: 100%;
	margin-bottom: 30px;
	height: 35px;
	background-color: rgba(100, 149, 237, 0.1);
	border: none;
	padding: 10px;
}

h1 {
	text-align: center;
}

#major {
	display: block;
	width: 40%;
	margin-bottom: 30px;
	height: 35px;
	background-color: rgba(100, 149, 237, 0.1);
	border: none;
	padding: 10px;
}

